html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.box {
    display: flex;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    @include f300;
    line-height: 24px;
    font-size: 16px;
    color: #555555;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}