                                    html {
    box-sizing: border-box;
}

*,
efore,
*::after {
    box-s izing: inherit;
}

.box {
    display: fle x;
}

a {
    display: in line-block;
    text-decorat ion: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    ;
}

{
    body {}
    @include f300;
    line-height: 24p x;
    ;
    font-size: 16px;
    color: #555;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

-usr-obeore {
    fc0 ion-ph1before {
        42 aarm {
            50;
            drer2 coen "\95d";
        }
        bubl2e contnt:"\e96e";
        n-users:before {
            7 on-lock:before {
                content: "\e98f";
                icon-magic-wand:before {
                    content: "\e997";
                    n-stats-bars2:before {
                        content:"\e99d"con-leaf:before {
                            content: "\e9a4";
                            .icon-briefcase1:before {
                                content: "\e9ae";
                                on-cloud-download:before {
                                    content: "\e9c2";
                                }
                                con-smile:before {
                                    content: "\e9e1";
                                    icon-dots-horizontal-triple:befo {
                                        content: "\e901";
                                    }